.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*,
*::before,
*::after{
  box-sizing: border-box; 
}

body{
  font-family: sans-serif;
}

h3,
p{
  margin: 0;
}

.post{
  border: 1px solid #DDDEF2;
  padding: 12px;
  width: 500px;
  border-radius: 2px;
}

.post__image{
  width: 40px;
  margin-right: 10px;
}

.post__header{
  display: flex;
}

.post__actions{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #444;
  padding-top: 15px;
  margin-bottom: 0px; 
}

.post__actions li{
  width:  33%;
}

.post__actions li a{
  text-decoration: none;
  color:  #444;
}

.post__actions li .fa{
  margin-right: 5px;
  color:  #444;
}


.head{
  background-color: #4267b2;
  display: flex;
  padding: 10px 0;
}

.head__logo .fa{
  font-size: 30px;
  color: #ffffff;
}

.head__search__input{
  width: 500px;
  height: 28px;
  border: none;
  border-radius: 1px;
  position: relative;
  left: 20px; 
}
.head__search .fa{
  position: absolute;
  left: 520px;
  top: 15px;
}
